.price {
  margin: 12px 0;
  display: flex;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  padding-bottom: 16px;
  border-bottom: 0.6px solid #ff980c;
}
.price > * {
  display: inline-block;
  vertical-align: top;
}

.price.price--unavailable {
  visibility: hidden;
}

.price--end {
  text-align: right;
}

.price__regular .price-item--regular {
  margin-right: 0;
	color: #000;
	font-size: 18px;
	line-height: 1.4;
  font-weight: 700;
}

.price:not(.price--show-badge) .price-item--last:last-of-type {
  margin: 0;
}

.price--sold-out .price__availability,
.price__regular {
  display: block;
}

.price__sale,
.price__availability,
.price .price__badge-sale,
.price .price__badge-sold-out,
.price--on-sale .price__regular,
.price--on-sale .price__availability {
  display: none;
}

.price--sold-out .price__badge-sold-out,
.price--on-sale .price__badge-sale,
.volume-pricing--sale-badge .price__badge-sale {
  display: inline-block;
}

.volume-pricing--sale-badge .price__badge-sale {
  margin-left: 0.5rem;
}

.price--on-sale .price__sale {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
}

.price--center {
  display: initial;
  justify-content: center;
}

.price--on-sale .price-item--regular {
  text-decoration: line-through;
	color: #9f9f9f;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.846;
}
.price--on-sale .price-item--sale {
	color: #000;
	font-size: 18px;
	line-height: 1.4;
  font-weight: 700;
}
.unit-price {
  display: block;
  font-size: 1.1rem;
  letter-spacing: 0.04rem;
  line-height: calc(1 + 0.2 / var(--font-body-scale));
  margin-top: 0.2rem;
  color: rgba(var(--color-foreground), 0.7);
}
.price__container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: flex-start;
	gap: 12px;
	row-gap: 0;
	flex-shrink: 0;
	font-weight: 700;  
}
@media screen and (min-width: 992px) {
  .price {
    margin: 24px 0;
    padding-bottom: 19px;
  }
  .price__regular .price-item--regular {
    font-size: 20px;
  }
  .price--on-sale .price-item--sale {
    font-size: 20px;
  }
}