.search__input.field__input {
  padding: 1rem !important;
  border: 1px solid #C5C5C5;
  border-radius: 8px;
  height: unset;
	font-size: 14px;
  line-height: 1;
}

.search__button {
  right: var(--inputs-border-width);
  top: 50%;
  transform: translateY(-50%);
  height: unset;
}

.reset__button {
  right: calc(var(--inputs-border-width) + 4.4rem);
  top: var(--inputs-border-width);
}

.reset__button:not(:focus-visible)::after {
  border-right: 0.1rem solid rgba(var(--color-foreground), 0.08);
  display: block;
  height: calc(100% - 1.6rem);
  content: '';
  position: absolute;
  right: 0;
}

.reset__button:not(:focus)::after {
  border-right: 0.1rem solid rgba(var(--color-foreground), 0.08);
  display: block;
  height: calc(100% - 1.8rem);
  content: '';
  position: absolute;
  right: 0;
}

.search__button:focus-visible,
.reset__button:focus-visible {
  background-color: rgb(var(--color-background));
  z-index: 4;
}

.search__button:focus,
.reset__button:focus {
  background-color: rgb(var(--color-background));
  z-index: 4;
}

.search__button:not(:focus-visible):not(.focused),
.reset__button:not(:focus-visible):not(.focused) {
  box-shadow: inherit;
  background-color: inherit;
}

.search__button:hover .icon,
.reset__button:hover .icon {
  transform: scale(1.07);
}

.search__button .icon {
  height: 1.5rem;
  width: 1.5rem;
}

.reset__button .icon.icon-close {
  height: 1.5rem;
  width: 1.5rem;
  stroke-width: 0.1rem;
}

/* Remove extra spacing for search inputs in Safari */
input::-webkit-search-decoration {
  -webkit-appearance: none;
}

.template-search__results {
  position: relative;
}

.search-modal__form .field__label {
	color: #9f9f9f;
	font-size: 14px;
  line-height: 1;
  top: 50% !important;
  transform: translateY(-50%);
  height: unset;
}
.search-modal__form .field__input:not(:placeholder-shown) ~ .field__label {
  display: none;
}
@media screen and (min-width: 1200px) {
  .search__input.field__input {
    font-size: 15px;
  }
  .search-modal__form .field__label {
    font-size: 15px;
  }  
  .search__button .icon {
    height: 1.8rem;
    width: 1.8rem;    
  }
  .search__button .icon path {
    fill: #FF980C;
    font-weight: 900;    
  }
  .reset__button .icon.icon-close {
    height: 1.8;
    width: 1.8rem;
  }
}
